@charset "UTF-8";
/* CSS Document */


.title
{
	width: 1355px;
	text-align: center;
	font-size: 65px;
	font-family: 'Brawler', serif;
	color: black;
	text-shadow: 3px 2px #008118;
}

.trees
{
	width: 1000px;
	margin-top: 30px;
	margin-left: 170px;
    border: 1px solid black;
}

.river
{
	width: 350px;
	position: absolute;
	margin-left: 170px;
	margin-top: 70px;
	border: 1px solid black;
}

.P1
{
	position: absolute;
	margin-top: 430px;
	margin-left: 175px;
}

.man
{
	width: 350px;
	position: absolute;
	margin-left: 820px;
	margin-top: 70px;
	border: 1px solid black;
}

.P2
{
	position: absolute;
	margin-top: 430px;
	margin-left: 820px;
}

.babyFish
{
	position: absolute;
	width: 1000px;
	left: 180px;
	top: 950px;
	border: 1px solid black;
}

.P3
{
	position: absolute;
	margin-top: 1118px;
	margin-left: 190px;
}

.h2
{
	margin-top: 1300px;
	text-align: center;
	font-size: 35px;
	font-family: 'Brawler', serif;
	color: black ;
	text-shadow: 3px 2px #008118;
	width: 1355px;
}


.P4
{
	position: absolute;
	margin-top: 30px;
	margin-left: 190px;
}

p
{
	line-height: 20px;
	font-family: 'Open Sans', sans-serif;
}

p:first-letter
{
	font-weight: bold;
	font-size: 30px;

}


